<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5" style="text-align: center;">DANH SÁCH TÀI KHOẢN</h5>
            </div>

            <div class="card">
                <div class="p-grid p-align-center p-align-baseline">
                    <div class="grid">
                        <div class="col-2"></div>
                        <div class="col-2" style="margin-top: 10px;"> Khách hàng cá nhân (*) </div>
                        <div class="col-6">
                            <span class="p-input-icon-right">
                                <i class="pi pi-search" style="right: -140%;"></i>
                                <input type="text" pInputText style="width: 250%;"
                                    placeholder="Nhập giá trị tìm kiếm" />
                            </span>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-12" style="display: flex; margin-left: 300px;">
                            <div class="field-radiobutton" style="margin-right: 20px;">
                                <p-radioButton name="city" value="Chicago" inputId="city1"
                                    [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="city1">CMND</label>
                            </div>
                            <div class="field-radiobutton" style="margin-right: 20px;">
                                <p-radioButton name="city" value="Los Angeles" inputId="city2"
                                    [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="city2">CCCD</label>
                            </div>
                            <div class="field-radiobutton" style="margin-right: 20px;">
                                <p-radioButton name="city" value="New York" inputId="city3"
                                    [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="city3">Hộ chiếu</label>
                            </div>
                            <div class="field-radiobutton" style="margin-right: 20px;">
                                <p-radioButton name="city" value="San Francisco" inputId="city4"
                                    [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="city4">Giấy khai sinh</label>
                            </div>
                            <div class="field-radiobutton" style="margin-right: 20px;">
                                <p-radioButton name="city" value="San Francisco" inputId="city5"
                                    [(ngModel)]="selectedValue"></p-radioButton>
                                <label for="city4">Mã CIF</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="p-col-12 p-m-auto">
                    <h5 class="p-text-center p-my-5">Danh sách hồ sơ đang xử lí</h5>
                </div>
                <p-table [value]="customers" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Hiển thị {first} đến {last} trên {totalRecords} trang"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Mã hồ sơ</th>
                            <th>Tên khách hàng</th>
                            <th>Số định danh</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Loại khách hàng</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <td>{{ customer.code }}</td>
                            <td>{{ customer.name}}</td>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.createDate}}</td>
                            <td>{{ customer.status}}</td>
                            <td>{{ customer.type}}</td>
                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template> -->
                </p-table>
            </div>

        </div>
    </div>
</div>