<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5" style="text-align: center;">ĐĂNG KÝ MỚI THẺ CHÍNH</h5>
            </div>

            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5">Thông tin khách hàng</h5>
            </div>
            <div class="card">
                <div class="grid">
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Mã khách hàng: </span>
                        <span>XXXXX</span>
                    </div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Họ và tên : </span>
                        <span>XXXXX</span>
                    </div>

                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Số GTXM: </span>
                        <span>XXXXX</span>
                    </div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Ngày sinh : </span>
                        <span>XXXXX</span>
                    </div>

                    <div class="col-6 mb-2" style="display: flex;"></div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Tình trạng CIF : </span>
                        <span>XXXXX</span>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5">Thêm mới</h5>
            </div>
            <div class="card">
                <div class="grid">

                    <div class="col-2 mb-2" style="margin-top: 10px;">Loại thẻ(*)</div>
                    <div class="col-4 mb-2"><p-dropdown></p-dropdown></div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Tên dập nổi trên thẻ(*)</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Mã thẻ(*)</div>
                    <div class="col-4 mb-2"><p-dropdown></p-dropdown></div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Hình thức phát hành(*)</div>
                    <div class="col-4 mb-2"><p-dropdown></p-dropdown></div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Hạng thẻ(*)</div>
                    <div class="col-4 mb-2"><p-dropdown></p-dropdown></div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Địa chỉ nhận thẻ(*)</div>
                    <div class="col-4 mb-2" style="display: flex;">
                        <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                            <p-radioButton name="city" value="Chicago" inputId="city1" ></p-radioButton>
                            <label for="city1">Có</label>
                        </div>
                        <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                            <p-radioButton name="city" value="Los Angeles" inputId="city2" ></p-radioButton>
                            <label for="city2">Không</label>
                        </div>
                    </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Tài khoản mặc định(*)</div>
                    <div class="col-4 mb-2"><p-dropdown></p-dropdown></div>

                    <div class="col-2 mb-2" style="margin-top: 10px;"></div>
                    <div class="col-4 mb-2"> <input type="text" pInputText placeholder="Nhận tại chi nhánh"/> </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Số dư tài khoản</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>
                    <div class="col-2 mb-2" style="margin-top: 10px;">Tổng phí + VAT</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Lãi suất</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>
                    <div class="col-2 mb-2" style="margin-top: 10px;">Mã nhân viên(*)</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Tài khoản liên kết</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>
                    <div class="col-2 mb-2" style="margin-top: 10px;">Mã người giới thiệu(*)</div>
                    <div class="col-4 mb-2"> <input type="text" pInputText /> </div>

                    <div class="col-2 mb-2" style="margin-top: 10px;">Diễn giải(*)</div>
                    <div class="col-10 mb-2"> <textarea pInputTextarea></textarea> </div>

                </div>
                <div class="div" style="display: flex; justify-content: end;">
                    <div class="div" style="margin-right: 5px;">
                    <p-button label="Lưu" icon="pi pi-check" iconPos="right"></p-button>
                    </div>
                    <p-button label="Gửi duyệt" icon="pi pi-arrow-up" iconPos="right"></p-button>
                </div>
            </div>
        </div>
    </div>