<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5" style="text-align: center;">THÔNG TIN KHÁCH HÀNG - ĐĂNG KÝ MỚI</h5>
            </div>

            <div class="card">
                <div class="grid">
                    <div class="col-6">
                        <div class="grid formgrid">
                            <div class="col-12">
                                <h5 class="p-text-center p-my-5">Thông tin cá nhân</h5>
                            </div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Họ và tên (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Giới tính (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Ngày sinh (*)</div>
                            <div class="col-9 mb-3"><p-calendar [showIcon]="true" inputId="icon"></p-calendar></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Quốc tịch (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Mã số thuế</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>


                            <div class="col-3 mb-3" style="margin-top: 10px;"></div>
                            <div class="col-9 mb-3"><a href="">thuedientu.gdt.gov.com</a></div>


                            <div class="col-3 mb-3" style="margin-top: 10px;">Người cư trú (*)</div>
                            <div class="col-9 mb-3" style="display: flex;">
                                <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                                    <p-radioButton name="city" value="Chicago" inputId="city1"
                                        [(ngModel)]="selectedValue"></p-radioButton>
                                    <label for="city1">Có</label>
                                </div>
                                <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                                    <p-radioButton name="city" value="Los Angeles" inputId="city2"
                                        [(ngModel)]="selectedValue"></p-radioButton>
                                    <label for="city2">Không</label>
                                </div>
                            </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Nghề nghiệp (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Nơi công tác</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Chức vụ (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Điện thoại di động (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Email</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Nhu cầu sử dụng thấu chi</div>
                            <div class="col-9 mb-3" style="display: flex;">
                                <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                                    <p-radioButton name="city" value="Chicago" inputId="city1"
                                        [(ngModel)]="selectedValue"></p-radioButton>
                                    <label for="city1">Có</label>
                                </div>
                                <div class="field-radiobutton" style="margin-right: 20px; margin-top: 8px;">
                                    <p-radioButton name="city" value="Los Angeles" inputId="city2"
                                        [(ngModel)]="selectedValue"></p-radioButton>
                                    <label for="city2">Không</label>
                                </div>
                            </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;"></div>
                            <div class="col-9 mb-3"><a href="">Nhận lương qua SHB</a></div>


                        </div>
                    </div>
                    <div class="col-6">
                        <div class="grid formgrid">
                            <div class="col-12">
                                <h5 class="p-text-center p-my-5">Thông tin GTXM</h5>
                            </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Loại GTXM (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Số GTXM (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Ngày cấp (*)</div>
                            <div class="col-9 mb-3"><p-calendar [showIcon]="true" inputId="icon"></p-calendar></div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Nơi cấp (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>

                            <div class="col-3 mb-3" style="margin-top: 10px;">Ngày hết hiệu lực (*)</div>
                            <div class="col-9 mb-3"><p-calendar [showIcon]="true" inputId="icon"></p-calendar></div>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-6">
                        <div class="grid formgrid">
                            <div class="col-12">
                                <h5 class="p-text-center p-my-5">Địa chỉ hiện tại</h5>
                            </div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Quốc gia (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Tỉnh/Thành Phố (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Quận huyện (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Phường xã (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Số nhà/Đường phố (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="grid formgrid">
                            <div class="col-6">
                                <h5 class="p-text-center p-my-5">Địa chỉ thường trú</h5>
                            </div>
                            <div class="col-6">
                                <a href="">Trùng với địa chỉ hiện tại</a>
                            </div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Quốc gia (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Tỉnh/Thành Phố (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Quận huyện (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Phường xã (*)</div>
                            <div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
                            <div class="col-3 mb-3" style="margin-top: 10px;">Số nhà/Đường phố (*)</div>
                            <div class="col-9 mb-3"> <input type="text" pInputText /> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div" style="display: flex; justify-content: end;">
                <div class="div" style="margin-right: 5px;">
                <p-button label="Lưu" icon="pi pi-check" iconPos="right"></p-button>
                </div>
                <p-button label="Gửi duyệt" icon="pi pi-arrow-up" iconPos="right"></p-button>
            </div>
        </div>
    </div>
</div>