<div class="grid p-fluid">
	<div class="col-12">
		<div class="card">
			<div class="p-col-12 p-m-auto">
				<h5 class="p-text-center p-my-5" style="text-align: center;">THÔNG TIN KHÁCH HÀNG</h5>
			</div>

			<div class="card">
				<div class="grid">
					<div class="col-6 mb-2" style="display: flex;">
						<span style="margin-right: 30px;">Mã khách hàng: </span>
						<span>XXXXX</span>
					</div>
					<div class="col-6 mb-2" style="display: flex;">
						<span style="margin-right: 30px;">Họ và tên : </span>
						<span>XXXXX</span>
					</div>

					<div class="col-6 mb-2" style="display: flex;">
						<span style="margin-right: 30px;">Số GTXM: </span>
						<span>XXXXX</span>
					</div>
					<div class="col-6 mb-2" style="display: flex;">
						<span style="margin-right: 30px;">Ngày sinh : </span>
						<span>XXXXX</span>
					</div>

					<div class="col-6 mb-2" style="display: flex;"></div>
					<div class="col-6 mb-2" style="display: flex;">
						<span style="margin-right: 30px;">Tình trạng CIF : </span>
						<span>XXXXX</span>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="col-12 action-row">
				<h5 class="p-text-center p-my-5 left-section">Tạo mới tài khoản</h5>
			</div>
			<div class="grid">
				<div class="col-6">
					<div class="grid formgrid">
						<div class="col-3 mb-3" style="margin-top: 10px;">Tên tài khoản(*)</div>
						<div class="col-9 mb-3"> <input type="text" pInputText /> </div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Loại tiền tệ (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Loại tài khoản (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Mã tài khoản (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
					</div>
				</div>
				<div class="col-6">
					<div class="grid formgrid">
						<div class="col-3 mb-3" style="margin-top: 10px;">Số tài khoản(*)</div>
						<div class="col-9 mb-3"> <input type="text" pInputText /> </div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Số dư duy trì tối thiểu (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Mã nhân viên (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>

						<div class="col-3 mb-3" style="margin-top: 10px;">Chi nhánh/PGD (*)</div>
						<div class="col-9 mb-3"><p-dropdown></p-dropdown></div>
					</div>
				</div>
				<div class="col-12">
					<div class="grid formgrid">
						<div class="col-2 mb-3" style="margin-top: 10px;">Diễn giải tài khoản(*)</div>
						<div class="col-10 mb-3"> <textarea pInputTextarea></textarea> </div>
					</div>
				</div>
			</div>
			<div class="div" style="display: flex; justify-content: end;">
                <div class="div" style="margin-right: 5px;">
                <p-button label="Lưu" icon="pi pi-check" iconPos="right"></p-button>
                </div>
                <p-button label="Gửi duyệt" icon="pi pi-arrow-up" iconPos="right"></p-button>
            </div>
		</div>
	</div>
</div>