<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <div class="p-col-12 p-m-auto">
                <h5 class="p-text-center p-my-5" style="text-align: center;">THÔNG TIN KHÁCH HÀNG</h5>
            </div>

            <div class="card">
                <div class="grid">
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Mã khách hàng: </span>
                        <span>XXXXX</span>
                    </div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Họ và tên : </span>
                        <span>XXXXX</span>
                    </div>

                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Số GTXM: </span>
                        <span>XXXXX</span>
                    </div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Ngày sinh : </span>
                        <span>XXXXX</span>
                    </div>

                    <div class="col-6 mb-2" style="display: flex;"></div>
                    <div class="col-6 mb-2" style="display: flex;">
                        <span style="margin-right: 30px;">Tình trạng CIF : </span>
                        <span>XXXXX</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="col-12 action-row" style="display: flex; align-items: center; justify-content: space-between;">
                    <h5 class="p-text-center p-my-5 left-section" style="display: flex; align-items: center;">Danh sách thẻ chính</h5>
                    <p-button class="right-section" label="Thêm mới" icon="pi pi-plus" style="display: flex; align-items: center;" iconPos="right"></p-button>
                </div>
                <p-table [value]="customers">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>STT</th>
                            <th>Loại thẻ</th>
                            <th>Số thẻ</th>
                            <th>Tài khoản mặc định</th>
                            <th>Ngày phát hành</th>
                            <th>Ngày hết hạn</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <td>1</td>
                            <td>{{ customer.name}}</td>
                            <td>{{ customer.type }}</td>
                            <td>{{ customer.money}}</td>
                            <td>{{ customer.money}}</td>
                            <td>{{ customer.money}}</td>
                            <td>{{ customer.money}}</td>
                            <td>{{ customer.money}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>